<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Filmy3-Skomplikowany.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>drzewo_binarne.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>klub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>kolejka.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>listing17.1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>listing17.2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>symulacjakolejki.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A2057C71CA7010C0012570D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2057D21CA704510012570D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2057DD1CA709FD0012570D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2057EB1CA71D620012570D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2057F91CA932F80012570D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2058091CA959FC0012570D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2058151CA985940012570D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA053B1C9DFE1000989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA05491C9DFE2700989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA05541C9E0FED00989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA055F1C9E7C3600989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA056D1C9EBBC500989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
