<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>listing14.1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>listing14.10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>listing14.11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>listing14.12.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>listing14.13.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>listing14.14.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>listing14.15.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>listing14.16.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>listing14.2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>listing14.3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>listing14.4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>listing14.5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>listing14.6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>listing14.7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>listing14.8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>listing14.9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>listingi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A2F230E1C6CAAA5005C3780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2F231C1C6CAABD005C3780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2F23271C6CE0DE005C3780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2F23321C6CE41C005C3780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2F233D1C6CE6A7005C3780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2F23481C6CEC77005C3780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2F23531C6CF98E005C3780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2F235E1C6CFBEA005C3780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2F23691C6CFD01005C3780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2F23741C6D0152005C3780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2F237F1C6D1CC0005C3780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2F238A1C6D1E91005C3780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2F23951C6D20F4005C3780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2F23A01C6D22BB005C3780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2F23AB1C6D2888005C3780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2F23B61C6E2972005C3780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2F23C11C6E3A1C005C3780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
