<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cwiczenie1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>cwiczenie10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>cwiczenie2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>cwiczenie3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>cwiczenie4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>cwiczenie5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>cwiczenie6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>cwiczenie7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>cwiczenie8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>cwiczenie9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>listing13.1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>listing13.2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>listing13.3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>listing13.4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>listing13.5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>listing13.6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>listing13.7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>listingi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A1F49B21C1342520054CCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1F49C01C1344940054CCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1F49CB1C1348EC0054CCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1F49D61C134B840054CCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1F49E11C13504F0054CCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1F49EC1C1351C90054CCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1F4A0B1C141C3C0054CCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1F4A161C1421080054CCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1F4A211C1425CF0054CCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1F4A2C1C1428170054CCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1F4A371C1430750054CCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1F4A421C143CDA0054CCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1F4A4D1C1440AA0054CCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1F4A581C144A420054CCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1F4A631C144B1F0054CCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1F4A6E1C14595F0054CCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1F4A791C1461FF0054CCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1F4A841C14771C0054CCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
