<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>listing16.1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>listing16.10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>listing16.12.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>listing16.13.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>listing16.14.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>listing16.15.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>listing16.16.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>listing16.17.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>listing16.18.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>listing16.2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>listing16.3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>listing16.4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>listing16.5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>listing16.6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>listing16.9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>listingi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7AAA04411C9D359000989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA044C1C9D35B500989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA04571C9D37DA00989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA04651C9D433800989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA04701C9D450500989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA047C1C9D4AA200989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA04871C9D55F600989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA04921C9D576200989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA049D1C9D5ADC00989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA04A81C9D5E2B00989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA04B31C9D5F5E00989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA04BE1C9D643200989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA04C91C9D645900989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AF78D941C9C8E27007BFFED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AF78DA21C9C8E36007BFFED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AF78DAD1C9C924E007BFFED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AF78DB81C9C94A6007BFFED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AF78DC31C9C953F007BFFED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
