<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cwiczenia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>cwiczenie1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>cwiczenie2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>cwiczenie3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>cwiczenie4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>cwiczenie5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>cwiczenie6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>cwiczenie7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7AAA04D91C9D703000989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA04E71C9D704000989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA04F31C9D70D100989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA04FF1C9D71EB00989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA050A1C9D743A00989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA05151C9D91CC00989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA05201C9DC8D100989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA052B1C9DE0FE00989840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
